<div>
    <fieldset>
        <legend>City</legend>
        <div class="form-group row">
            <div ng-if="selectedCity" class="col-sm-2 control-label">
                <label for="name">{{ selectedCity.name }}</label>
                <div>{{ selectedCity.coord.lat }}, {{ selectedCity.coord.lon }}</div>
            </div>
            <div ng-if="!selectedCity" class="col-sm-2 control-label">
                <label for="name">Select a city from the drop-down</label>
            </div>
            <div class="col-sm-4">
                <select name="city" id="city" class="form-control"
                        ng-model="selectedCity"
                        ng-change='getForecast(selectedCity.id)'
                        ng-options="co.name for co in cityOptions"></select>
            </div>
            <div class="col-sm-2">
                <div>Next available API request: {{ forecast.AvailableFetchStr }}</div>
            </div>
        </div>
        <div ng-if="forecast.list && forecast.list.length > 0" class="row">
            <div ng-repeat="item in forecast.list" class="col-sm-2 well well-sm">
                <div>{{ item.dt_txt }}</div>
                <div>{{ item.main.TempStr }}</div>
            </div>
        </div>
    </fieldset>
</div>