@{
    ViewBag.Title = "Home Page";
    // Want to leave layout for other pages, not this SPA
    Layout = null;
}
    
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/bundles/custom/style")
    @Scripts.Render("~/bundles/custom/script")
</head>
<body ng-app="weatherSeerApp" class="container">
    <div ng-controller="fpController">
        <forecast-page />
    </div>
</body>
</html>